<EditForm Model="@Customer" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Navn:</label>
        <div>
            <InputText @bind-Value="@Customer.FullName" />
            <ValidationMessage For="@(() => Customer.FullName)" />
        </div>
        <label>Mobilnr.:</label>
        <div>
            <InputNumber @bind-Value="@Customer.PhoneNo" />
            <ValidationMessage For="@(() => Customer.PhoneNo)" />
        </div>
        <label>E-mail:</label>
        <div>
            <InputText @bind-Value="@Customer.Email" />
            <ValidationMessage For="@(() => Customer.Email)" />
        </div>
        <label>Vej og number:</label>
        <div>
            <InputText @bind-Value="@Customer.Street" />
            <ValidationMessage For="@(() => Customer.Street)" />
        </div>
        <label>Postnummer:</label>
        <div>
            <InputNumber @bind-Value="@Customer.ZipCode" />
            <ValidationMessage For="@(() => Customer.ZipCode)" />
        </div>
        <label>By:</label>
        <div>
            <InputText @bind-Value="@Customer.City" />
            <ValidationMessage For="@(() => Customer.City)" />
        </div>
        <label>Kundetype:</label>
        <div>
            @foreach (var choice in new[] { CustomerTypeEnum.Erhverv, CustomerTypeEnum.Privat })
            {
                <label>
                    <input name="type" type="radio"
                           value="@choice"
                           checked="@(Customer.CustomerType == choice)"
                           @onchange="@(() => { Customer.CustomerType = choice; })">
                    @choice.ToString()
                </label>
            }

        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        @ButtonText
    </button>

</EditForm>


@code {
    [Parameter] public CustomerDto.CustomerDetails Customer { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Gem";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private CustomerTypeEnum CurrentChoice {get; set; }
}