@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@inject IModalDialogService ModalDialogService

<EditForm Model="@LeaseOrderLine" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="simple-form ">

        <div class="form-group">
            <label>Start Dato:</label>
            <InputDate @bind-Value="@LeaseOrderLine.StartDate" class="form-control" />
            <ValidationMessage For="@(() => LeaseOrderLine.StartDate)" />
        </div>

        <div class="form-group">
            <label>Slut Dato:</label>
            <InputDate @bind-Value="@LeaseOrderLine.EndDate" class="form-control" />
            <ValidationMessage For="@(() => LeaseOrderLine.EndDate)" />
        </div>
        <div class="form-group">
            <label>Vare Navn:</label>
            <InputText @bind-Value="@LeaseOrderLine.ResourceName" class="form-control" />
            <ValidationMessage For="@(() => LeaseOrderLine.ResourceName)" />
        </div>

        <div class="form-group">
            <label>Vare Pris:</label>
            <InputNumber @bind-Value="@LeaseOrderLine.ResourcePrice" class="form-control" />
            <ValidationMessage For="@(() => LeaseOrderLine.ResourcePrice)" />
        </div>

        <div class="form-group">
            <label>Antal:</label>
            <InputNumber @bind-Value="@LeaseOrderLine.Quantity" class="form-control" />
            <ValidationMessage For="@(() => LeaseOrderLine.Quantity)" />
        </div>
    </div>
    <button type="submit" class="btn btn-primary">
        @ButtonText
    </button>

</EditForm>

@code {
    [Parameter] public LeaseViewModel.LeaseOrderDetails Lease { get; set; }
    [Parameter] public LeaseViewModel.AddLeaseOrderLineToLeaseOrder LeaseOrderLine { get; set; }
    [Parameter] public ResourceViewModel.ResourceDetails Resource { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Tilføj OrdreLinje";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}

