<EditForm Model="@Lease" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="simple-form ">

        <div class="form-group">
            <label>Start Dato:</label>
            <InputDate @bind-Value="@Lease.StartDate" readonly class="form-control" />
            <ValidationMessage For="@(() => Lease.StartDate)" />
        </div>
        <div class="form-group">
            <label>Slut Dato:</label>
            <InputDate @bind-Value="@Lease.EndDate" readonly class="form-control" />
            <ValidationMessage For="@(() => Lease.EndDate)" />
        </div>
        <div class="form-group">
            <label>Tilbage Leveret:</label>
            <InputCheckbox @bind-Value="@Lease.IsReturned" class="form-control" />
            <ValidationMessage For="@(() => Lease.IsReturned)" />
        </div>
        <div class="form-group">
            <label>Vare navn:</label>
            <InputText @bind-Value="@Lease.RessourceName" class="form-control" />
            <ValidationMessage For="@(() => Lease.RessourceName)" />
        </div>
        <div class="form-group">
            <label>Vare Pris:</label>
            <InputNumber @bind-Value="@Lease.RessourcePrice" class="form-control" />
            <ValidationMessage For="@(() => Lease.RessourcePrice)" />
        </div>
        <div class="form-group">
            <label>Antal:</label>
            <InputNumber @bind-Value="@Lease.Quantity" class="form-control" />
            <ValidationMessage For="@(() => Lease.Quantity)" />
        </div>
        
    </div>
    <button type="submit" class="btn btn-primary">
        @ButtonText
    </button>

</EditForm>


@code {
    [Parameter] public LeaseViewModel.LeaseOrderLineDetails Lease { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Gem";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}